{
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "multilineArraysWrapThreshold": 1,
  "plugins": [
    "prettier-plugin-multiline-arrays"
  ]
}
